@layout('layouts/main')

@section('content')
<h1>Nueva camara</h1>
<form action="{{ route('camara.store') }}" method="POST">
  {{ csrfField() }}

  @include('camara/_form')

  <button type="submit" class="btn btn-primary">Guardar</button>
  <a href="{{ route('camara.index') }}" class="btn btn-link">Cancelar</a>
</form>
@endsection
