<div class="form-group">
  <label>Nombre</label>

  <input
    type="text"
    class="form-control"
    name="nombre"
    value="{{ flashMessages.has('errors.nombre') ? flashMessages.get('nombre') : estado? estado.nombre : ''}}"
    >

  @if(flashMessages.has('errors.nombre'))
  <small class="form-text text-muted">
    {{ flashMessages.get('errors.nombre') }}
  </small>
  @endif
</div>

