@layout('layouts/main')

@section('content')
<h1>Nuevo tipo</h1>
<form action="{{ route('tipo.store') }}" method="POST">
  {{ csrfField() }}

  @include('tipo/_form')

  <button type="submit" class="btn btn-primary">Guardar</button>
  <a href="{{ route('tipo.index') }}" class="btn btn-link">Cancelar</a>
</form>
@endsection
